.scene-form-modal {
  .context-config .CodeMirror {
    height: 72px !important;
  }

  .ant-collapse {
    margin-top: 3px;
  }

  .res-data {
    margin-top: 12px;

    .CodeMirror {
      height: 350px !important;
    }
  }

  .res-format {
    margin-top: 12px;
  }

  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-modal-body {
    padding: 12px 24px;
  }
}
