{
  "extends": [
    "eslint-config-antife"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": ["error", {
      "code": 300
    }],
    "semi": [ "error", "always" ],
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error"
  }
}
